<div class="modal fade" id="deleteSectionsModal" tabindex="-1" role="dialog" aria-labelledby="deleteSectionsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteSectionsModalLabel">Delete section</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>Are you sure?<p>
      <!--
        <label for="delete_sections_title">Title:</label>
        <input type="text" id="delete_sections_title" class="form-control">
      </div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="deleteSections()">Delete</button>
      </div>
    </div>
  </div>
</div>