<div id="<%= books.id.to_s %>" class="books-item">
  <div class="books-title">
    <h4><%= books.title %></h4>
  </div>
  <!--<div class="books-body">
    <span><%= books.body %></span>
  </div> -->
  <div class="books-created-at">
    <b>Created at: </b><%= books.created_at.strftime('%d_%m_%Y %H_%M') %>
  </div>
</div>